@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans|Pacifico|Roboto+Condensed|Sumana');

body{
	background: #E8E1C8;
}

section{
	box-sizing: border-box;
	width: 50%;
	float: right;;
	margin-right:10%;
	background: #fff;
	padding: 40px;
}

.subtitulo{
	color:#56E3DD;
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
	border-bottom: 5px solid #56E3DD;
	padding-bottom: 6px;
}
h2{
	color:#223893;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}
h3{
	color:#FAC60B;
	font-family:  cursive;
	font-size: 20px;
}

ul li{
	list-style: none;
	font-family:'Economica', sans-serif;
	padding: 0;
}
p{
	font-family: 'Sumana', serif;
}
