@import url('https://fonts.googleapis.com/css?family=Hind+Guntur|Economica|Open+Sans|Pacifico|Roboto+Condensed|Sumana');

body{
	background: #DEDEDE;
}

section.perfil{

}

section{
	padding: 20px;
	margin-top: 20px;
	box-sizing: border-box;
	width: 50%;
	float: right;
	margin-right:10%;
	background: #fff;
	padding-left: 30px;
	padding-right: 30px;
}

.subtitulo{
	color:#4ABEBF;
	font-size: 18px;
	font-family:'Hind',serif;
	border-bottom: 3px solid #4ABEBF;
	padding-bottom: 3px;
	margin-bottom: 30px;
}
h1{
	color:#223893;
	font-size: 30px;
	font-family: helvetica,sans-serif;
	line-height: 10px;
	margin-top: 40px;
}
h3{
	color:#40ED1D;
	font-family:  cursive;
	font-size: 18px;
}

ul{
	margin-top: 5px;
	padding: 0;
}
ul li{
	list-style: none;
	font-family:'Hind Guntur',sans-serif;
	border-bottom: red 2px solid;
	padding-top: 3px;
}
p{
	font-family: 'Sumana', serif;
}
